<!doctype html>
<html lang="pt">
<head>
  <title>TransLog</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/cadastrarPedido.js"></script>
</head>

<body>
  <nav>
    <div class="topnav">
      <a href="listagem.html">TransLog</a>
      <a href="listagem.html">Lista de Pedidos</a>
      <a href="cadastrarPedido.html">Realizar Pedidos</a>
      <a href="listarEnderecos.html">Listar enderecos</a>
    </div>
  </nav>
  <div class="row">
    <div class="column side"></div>
    <div class="column middle">
        <form class="pedido">
            <h2>Endereco de Origem</h2>
            <div class="selectEnderecosSalvos">
                <select id="enderecosOpcoes" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" onchange="registrarOrigem()">
                    <option selected>Selecione o endereco: </option>
                </select>
            </div>

            <h2>Endereco de Destino</h2>
            <div class="mb-3">
                <label for="estadoDestino" class="form-label">Estado</label>
                <input class="form-control" id="estadoDestino" placeholder="Estado" required="required">
            </div>
        
            <div class="mb-3">
                <label for="municipioDestino" class="form-label">Municipio</label>
                <input class="form-control" id="municipioDestino" placeholder="Municipio" required="required">
            </div>
        
            <div class="mb-3">
                <label for="bairroDestino" class="form-label">Bairro</label>
                <input class="form-control" id="bairroDestino" placeholder="Bairro" required="required">
            </div>
        
            <div class="mb-3">
                <label for="ruaDestino" class="form-label">Rua</label>
                <input class="form-control" id="ruaDestino" placeholder="Rua" required="required">
            </div>
        
            <div class="mb-3">
                <label for="numeroDestino" class="form-label">Numero</label>
                <input type="number" class="form-control" id="numeroDestino" placeholder="Numero" required="required">
            </div>
        
            <div class="mb-3">
                <label for="complementoDestino" class="form-label">Complemento</label>
                <input class="form-control" id="complementoDestino" placeholder="Complemento">
            </div>
        
            <div class="mb-3">
                <label for="cepDestino" class="form-label">CEP</label>
                <input type="number" class="form-control" id="cepDestino" placeholder="CEP" required="required">
            </div>

            <h2>Informações do Produto</h2>
            <div class="mb-3">
                <label for="largura" class="form-label">Largura (cm)</label>
                <input type="number" class="form-control" id="largura" placeholder="..." required="required">
            </div>

            <div class="mb-3">
                <label for="altura" class="form-label">Altura (cm)</label>
                <input type="number" class="form-control" id="altura" placeholder="..." required="required">
            </div>

            <div class="mb-3">
                <label for="comprimento" class="form-label">Comprimento (cm)</label>
                <input type="number" class="form-control" id="comprimento" placeholder="..." required="required">
            </div>

            <div class="mb-3">
                <label for="peso" class="form-label">Peso (kg)</label>
                <input type="number" step="0.01" class="form-control" id="peso" placeholder="..." required="required">
            </div>

            <h2>Destinatario</h2>
            <div class="mb-3">
                <label for="nomeDestinatario" class="form-label">Nome completo</label>
                <input class="form-control" id="nomeDestinatario" placeholder="Nome" required="required">
            </div>

            <div class="mb-3">
                <label for="emailDestinatario" class="form-label">Email</label>
                <input type="email" class="form-control" id="emailDestinatario" placeholder="Email" required="required">
            </div>

            <div class="mb-3">
                <label for="telefoneDestinatario" class="form-label">Telefone</label>
                <input type="number" class="form-control" id="telefoneDestinatario" placeholder="Telefone" required="required">
            </div>

            <div class="mb-3">
                <label for="pagamento" class="form-label">Método de pagamento</label>
                <select id="pagamento" name="opcoes">
                    <option value="DEBITO">Debito</option>
                    <option value="CREDITO">Credito</option>
                    <option value="BOLETO">Boleto</option>
                    <option value="PIX">Pix</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="descricao" class="form-label">Descricao</label>
                <textarea class="form-control" id="descricao" placeholder="Descricao" required="required"
                rows="4" cols="50">
                </textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="fazerPedido()">Submit</button>
        </form>
    </div>
    <div class="column side"></div>
  </div>
</body>
</html>