<!doctype html>
<html lang="pt">
  <head>
    <title>TransLog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css\style.css">
      <script src="js/main.js"></script>
  </head>
    
  <body>
    <div class="header">
        <h1>TransLog</h1>
    </div>
    <div class="row">
        <div class="column side"></div>
        <div class="column middle">
            <form class="login">
                <h2>Criar Cadastro</h2>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Nome</label>
                  <input type="email" class="form-control" id="nameInput" placeholder="Seu Nome...">
                </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                  <input type="email" class="form-control" id="emailInput" placeholder="Seu email...">
                </div>
                <div class="mb-3">
                <label for="passwordInput" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="passwordInput" placeholder="Sua senha...">
                </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">CPF</label>
                  <input type="email" class="form-control" id="cpfInput" placeholder="Seu CPF...">
                </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Telefone</label>
                  <input type="email" class="form-control" id="numberInput" placeholder="Seu Telefone...">
                </div>
                <a href="index.html">Já tem conta?</a>
                <button type="button" class="btn btn-primary" onclick='criarCadastro()'>Enviar</button>
              </form>
        </div>
        <div class="column side"></div>
    </div>
  </body>
</html>