<!doctype html>
<html lang="pt">
<head>
  <title>TransLog</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/servico.js"></script>
</head>

</body>
  <div class="header">
    <h1>TransLog</h1>
  </div>
<div class="topnav">
  <a href="listagem.html">Lista de Pedidos</a>
  <a href="endereco.html">Realizar Pedidos</a>
  <a href="#" style="float:right">TransLog</a>
</div>
<div class="row">
  <div class="column side"></div>
  <div class="column middle">
    <form class="pedido">
    <h2>Endereço de Origem</h2>
    <div class="mb-3">
      <label for="estadoOrigem" class="form-label">Estado</label>
      <input class="form-control" id="estadoOrigem" placeholder="Estado" required="required">
    </div>

    <div class="mb-3">
      <label for="municipioOrigem" class="form-label">Municipio</label>
      <input class="form-control" id="municipioOrigem" placeholder="Municipio" required="required">
    </div>

    <div class="mb-3">
      <label for="bairroOrigem" class="form-label">Bairro</label>
      <input class="form-control" id="bairroOrigem" placeholder="Bairro" required="required">
    </div>

    <div class="mb-3">
      <label for="ruaOrigem" class="form-label">Rua</label>
      <input class="form-control" id="ruaOrigem" placeholder="Rua" required="required">
    </div>

    <div class="mb-3">
      <label for="numeroOrigem" class="form-label">Numero</label>
      <input type="number" class="form-control" id="numeroOrigem" placeholder="Numero" required="required">
    </div>

    <div class="mb-3">
      <label for="complementoOrigem" class="form-label">Complemento</label>
      <input class="form-control" id="complementoOrigem" placeholder="Complemento">
    </div>

    <div class="mb-3">
      <label for="cepOrigem" class="form-label">CEP</label>
      <input type="number" class="form-control" id="cepOrigem" placeholder="CEP" required="required">
    </div>

    <h2>Endereço de Destino</h2>
    <div class="mb-3">
      <label for="estadoOrigem" class="form-label">Estado</label>
      <input class="form-control" id="estadoDestino" placeholder="Estado" required="required">
    </div>

    <div class="mb-3">
      <label for="municipioOrigem" class="form-label">Municipio</label>
      <input class="form-control" id="municipioDestino" placeholder="Municipio" required="required">
    </div>

    <div class="mb-3">
      <label for="bairroOrigem" class="form-label">Bairro</label>
      <input class="form-control" id="bairroDestino" placeholder="Bairro" required="required">
    </div>

    <div class="mb-3">
      <label for="ruaOrigem" class="form-label">Rua</label>
      <input class="form-control" id="ruaDestino" placeholder="Rua" required="required">
    </div>

    <div class="mb-3">
      <label for="numeroOrigem" class="form-label">Numero</label>
      <input type="number" class="form-control" id="numeroDestino" placeholder="Numero" required="required">
    </div>

    <div class="mb-3">
      <label for="complementoOrigem" class="form-label">Complemento</label>
      <input class="form-control" id="complementoDestino" placeholder="Complemento">
    </div>

    <div class="mb-3">
      <label for="cepOrigem" class="form-label">CEP</label>
      <input type="number" class="form-control" id="cepDestino" placeholder="CEP" required="required">
    </div>

    <button type="button" class="btn btn-primary" onclick="registrarEndereco()">Submit</button>
    </form>
  </div>
  <div class="column side"></div>
</div>
</html>