<!doctype html>
<html lang="en">
  <head>
    <title>TransLog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css\style.css">
    <script src="js/main.js"></script>
  </head>
    
  <body>
    <div class="header">
        <h1>TransLog</h1>
        <p>é o transportas n tem jeito!</p>
    </div>
    <div class="row">
        <div class="column side"></div>
        <div class="column middle">
            <form class="login">
                <h2>Login</h2>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="emailInput" placeholder="Your email...">
                </div>
                <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                  <input type="password" class="form-control" id="passwordInput" placeholder="Your password...">
                </div>
                <button type="button" class="btn btn-primary" onclick="login()">Submit</button>
              </form>
        </div>
        <div class="column side"></div>
    </div>
  </body>
</html>