<!doctype html>
<html lang="pt">
  <head>
    <title>TransLog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
      <script src="js/intro.js"></script>
  </head>

  <body>
    <nav>
      <div class="topnav">
        <a href="listagem.html">TransLog</a>
        <a href="listagem.html">Lista de Pedidos</a>
        <a href="cadastrarPedido.html">Realizar Pedidos</a>
        <a href="listarEnderecos.html">Listar enderecos</a>
      </div>
    </nav>

  <div class ="info">
    <div class="row">
      <div class="column side"></div>
      <div class="column middle">
        <h1 class="titulo">Informações do Pedido</h1>

        <h3>Endereço de Origem</h3>
        <p>Endereço: <span id="enderecoOrigem"></span></p>

        <h3>Endereço de Destino</h3>
        <p>Estado: <span id="estadoDestino"></span></p>
        <p>Município: <span id="municipioDestino"></span></p>
        <p>Bairro: <span id="bairroDestino"></span></p>
        <p>Rua: <span id="ruaDestino"></span></p>
        <p>Número: <span id="numeroDestino"></span></p>
        <p>Complemento: <span id="complementoDestino"></span></p>
        <p>CEP: <span id="cepDestino"></span></p>

        <h3>Informações do Produto</h3>
        <p>Largura (cm): <span id="largura"></span></p>
        <p>Altura (cm): <span id="altura"></span></p>
        <p>Comprimento (cm): <span id="comprimento"></span></p>
        <p>Peso (kg): <span id="peso"></span></p>

        <h3>Destinatário</h3>
        <p>Nome: <span id="nomeDestinatario"></span></p>
        <p>Email: <span id="emailDestinatario"></span></p>
        <p>Telefone: <span id="telefoneDestinatario"></span></p>

        <h3>Método de Pagamento</h3>
        <p><span id="pagamento"></span></p>

        <h3>Descrição</h3>
        <p><span id="descricao"></span></p>
    </div>
    <div class="column side"></div>
    </div>
</div>
</body>

</html>