<!doctype html>
<html lang="pt">
  <head>
    <title>TransLog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
      <script src="js/info.js"></script>
  </head>

  <body>
    <nav>
      <div class="topnav">
        <a href="listagem.html">TransLog</a>
        <a href="listagem.html">Lista de Pedidos</a>
        <a href="cadastrarPedido.html">Realizar Pedidos</a>
        <a href="listarEnderecos.html">Listar enderecos</a>
      </div>
    </nav>

    
    <div class="row">
      <div class="column side"></div>
      <div class="column middle">
        <div class ="pedido">
          <h2 class="titulo">Informações do Pedido</h2>

          <h3>Endereço de Origem</h3>
            <div id="enderecoOrigem">
            </div>
  
          <h3>Endereço de Destino</h3>
            <div id="enderecoDestino">
            </div>
  
          <h3>Informações do Produto</h3>
          <ul class="list-group" id="infoProduto">
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
          </ul>

          <p>Largura (cm): <span id="largura"></span></p>
          <p>Altura (cm): <span id="altura"></span></p>
          <p>Comprimento (cm): <span id="comprimento"></span></p>
          <p>Peso (kg): <span id="peso"></span></p>
  
          <h3>Destinatário</h3>
          <ul class="list-group" id="destinatario">
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
          </ul>

          <p>Nome: <span id="nomeDestinatario"></span></p>
          <p>Email: <span id="emailDestinatario"></span></p>
          <p>Telefone: <span id="telefoneDestinatario"></span></p>
  
          <h3>Método de Pagamento</h3>
          <ul class="list-group" id="pagamento">
            <li class="list-group-item"></li>
          </ul>

          <p><span id="pagamento"></span></p>
  
          <h3>Descrição</h3>
          <ul class="list-group" id="descricao">
            <li class="list-group-item"></li>
          </ul>

          <p><span id="descricao"></span></p>
        </div>

      <div class="column side"></div>
      </div>
    </div>
  </body>
</html>