<!doctype html>
<html lang="en">
  <head>
    <title>TransLog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css\style.css">
  </head>
    
  <body>
    <div class="header">
        <h1>TransLog</h1>
        <p>é o transportas n tem jeito!</p>
    </div>
    <div class="topnav">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#" style="float:right">Link</a>
    </div>
    <div class="row">
        <div class="column side"></div>
        <div class="column middle">
            <form class="pedido">
                <h2>Realizar Pedido</h2>
                <div class="mb-3">
                    <label for="Largura" class="form-label">Largura</label>
                  <input class="form-control" id="dimensions" placeholder="...">
                </div>

                <div class="mb-3">
                    <label for="Altura" class="form-label">Altura</label>
                  <input class="form-control" id="dimensions" placeholder="...">
                </div>

                <div class="mb-3">
                    <label for="Profundidade" class="form-label">Profundidade</label>
                  <input class="form-control" id="dimensions" placeholder="...">
                </div>

                <div class="mb-3">
                <label for="peso" class="form-label">Peso</label>
                  <input class="form-control" id="peso" placeholder="...">
                </div>

                <div class="mb-3">
                <label for="" class="form-label">Endereço de Origem</label>
                    <input class="form-control" id="Origem" placeholder="Endereço de Origem...">
                </div>

                <div class="mb-3">
                <label for="" class="form-label">Endereço de Destino</label>
                    <input class="form-control" id="Destino" placeholder="Endereço de Destino...">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
        <div class="column side"></div>
    </div>
    
    <script src="js/main.js" type="module"></script>
  </body>
</html>