.login{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.login h2{
    text-align: center;
}

body {
    padding: 10px;
}

.header {
    padding: 30px;
    text-align: center;
    background: white;
}
  
.header h1 {
    font-size: 50px;
}

.column {
    float: left;
    padding: 10px;
}
  
.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
}

.btn.btn-primary{
    margin-left: 89.3%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
}

.pedido {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.pedido h2{
    text-align: center;
}

.form-control {
    padding: 2%;
}